body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  color: #101820;
  line-height: 1.5;
}

#menu{
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100%;
  left: 0px;
  width: 300px;
  transition: left 300ms;
}

#menu div{
  text-align: center;
}

.logo{
  width: 120px;
  margin: 20px;
}

.formulario{
  list-style: none;
  margin: 40px;
  color: white;
  font-size: larger;
}

#formulario{
  margin: 8px;
  text-align: center;
}

.panel {
  background: #2C3E50;
  z-index: 9999;
  position: fixed;
  left: -15.625em;
  width: 15.625em;
}

.social-media{
  text-align: center;
  margin-top: 30%;
}

.social-media-icon{
  margin: 3%;
  width: 40px;
}

.options{
  margin-left: 300px;
  margin-top: 20px;
}

#photo{
  width: 350px;
  height: 250px;
  border-radius: 10px;
}

.media{
  padding: 30px;
  border-bottom: solid 2px #2C3E50;
  margin: 20px;
}

#photo:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#pages{
  text-align: center;
}

.price{
  position: absolute;
  right: 15%;
  margin-top: 10%;
}

.conteudo{
  color:#2C3E50;
}

#botoes{
  border: solid 2px #2C3E50;
  background-color: #2C3E50;
  color: #fff;
  margin: 2px;
}

#botao{
  border: solid 1px #2C3E50;
  margin: 2px;
}

.menorMaior{
  margin-left: 5%;
}

.acomodacoes{
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.loginCadastrar{
  position: absolute;
  right: 5%;
  top: 4%;
}

#datepicker{
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #2C3E50;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  margin: 8px;
}